body {
  
}

h1 {
  font-family: 'MicroExtendFLF-Bold';
}

h2, h3 {
  font-family: 'FeaturedItem';
}

p {
  font-family: 'Museo700';
}

a {
  font-family: 'TitilliumWeb-Bold';
}

footer a {
  font-family: 'Museo300';
  font-size: 1.125em;
}

footer .small {
  font-family: 'TitilliumWeb-Light';
  font-size: 1.125em;
}

footer p a {
  font-family: 'TitilliumWeb-Light';
  font-size: 1em;
}

/* End of Font Family Setup */

.container {
  width: 100%;
}

.main.container {
  padding: 0;
  border-radius: 0;
}

.header.container {
  padding: 0;
  background: url(../images/carousel_background/England_Carousel.jpg) no-repeat fixed; 
  background-size: 100% auto;
  background-position: top; 
}

/* End of Container */

.header.container .container.one {
  position: fixed;
  margin-top: 20px;
}

.header.container .container.one .logo {
  text-indent: -9999px;
  width: 169px;
  height: 40px;
  background: url(../images/thumbnails/logo.png) no-repeat;
}

.header.container .container.one #menu {
    font-size: 1.5em;
    margin-left: 5px;
    color: #fff;
}

.header.container .container.one .icon-menu {
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  background: url(../images/icons/iconmonstr-menu-1-16.png) no-repeat;
  background-size: 16px 16px;
  display: inline-block;
}

/* End of Header */

.header.container .container.two .page-header {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-bottom: none;
}

.header.container .container.two h3 {
  margin-top: 20%;
  margin-bottom: -15px;
  font-size: 3em;
  color: #fff;
}

.header.container .container.two h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 4.5em;
  color: #fff;
}

.header.container .container.two button {
  font-family: 'TitilliumWeb-Bold';
  font-size: 1.875em;
  margin-top: 5%;
  margin-bottom: 15%;
  padding: 10 30;
  width: 300px;
  height: 50px;
  background: inherit;
  border: 4px solid #fff;
  border-radius: 0;
  line-height: 0;
}

.header.container .container.two .icon-left-arrow, .header.container .container.two .icon-right-arrow {
    margin-top: -25%;
}

.header.container .container.two .icon-left-arrow {
  text-indent: -9999px;
  float: left;
  width: 24px;
  height: 24px;
  background: url(../images/misc/left_arrow.png) no-repeat;
  background-size: 24px 24px;
}

.header.container .container.two .icon-right-arrow {
  text-indent: -9999px;
  float: right;
  width: 24px;
  height: 24px;
  background: url(../images/misc/right_arrow.png) no-repeat;
  background-size: 24px 24px;
}

/* End of Header Container Section */

.Plans {
  background-color: #3b3738;
  color: #fdf3e7;
}

.Plans h2 {
  margin-top: 30px;
  margin-bottom: 0px;
  font-size: 3em;
}

.Plans p {
  margin-bottom: 0px;
}

.Plans .col-lg-3 {
  margin-top: 6%;
}

.Plans .row.text-center:last-child {
  margin-bottom: 30px;
}

.Plans .continent-icon {
  width: 150px;
  height: 150px;
}

.Plans .continent-icon.asia {
  background: url(../images/thumbnails/asia.png) no-repeat;
  background-size: 150px 150px;
  margin: 0 auto;
}

.Plans .continent-icon.europe {
  background: url(../images/thumbnails/europe.png) no-repeat;
  background-size: 150px 150px;
  margin: 0 auto;
}

.Plans .continent-icon.northamer {
  background: url(../images/thumbnails/northamerica.png) no-repeat;
  background-size: 150px 150px;
  margin: 0 auto;
}

.Plans .continent-icon.southamer {
  background: url(../images/thumbnails/southamerica.png) no-repeat;
  background-size: 150px 150px;
  margin: 0 auto;
}

.Plans .continent-icon.africa {
  background: url(../images/thumbnails/africa.png) no-repeat;
  background-size: 150px 150px;
  margin: 0 auto;
}

.Plans p {
  margin-top: 20px;
  font-size: 1.875em;
}



