body {
  
}

h1 {
  font-family: 'MicroExtendFLF-Bold';
}

h2, h3 {
  font-family: 'FeaturedItem';
}

p {
  font-family: 'Museo700';
}

a {
  font-family: 'TitilliumWeb-Bold';
}

footer a {
  font-family: 'Museo300';
  font-size: 1.125em;
}

footer .small {
  font-family: 'TitilliumWeb-Light';
  font-size: 1.125em;
}

footer p a {
  font-family: 'TitilliumWeb-Light';
  font-size: 1em;
}

/* End of Font Family Setup */

.container {
  width: 100%;
}

.main.container {
  padding: 0;
  position: relative;
  border-radius: 0;
  scroll-snap-points-x: repeat(100%);
  scroll-snap-type: mandatory;
  scroll-snap-destination: 50% 50%;
}

.header.container {
  padding: 0;
  background: url(../images/carousel_background/England_Carousel.jpg) no-repeat;
  background-size: cover;
  background-position: top;
}

.header.container.england {
  padding: 0;
  background: url(../images/carousel_background/England_Carousel.jpg) no-repeat; 
  background-size: cover;
  background-position: top; 
}

.header.container.hongkong {
  padding: 0;
  background: url(../images/carousel_background/HK_Carousel.jpg) no-repeat; 
  background-size: cover;
  background-position: top; 
}

/* End of Container */

.header.container nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 0;
  overflow: hidden;
  border: none;
  font-family: "TitilliumWeb-Bold";
  font-size: 1.5em;
  color: #fff;
  background-color: #575454;
  z-index: 200;
  transition: 0.5s;
}

.header.container .close.menuHandler {
  position: fixed;
  top: 10px;
  left: 11%;
}

.header.container .close.menuHandler .icon-remove {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  display: inline-block;
  background: url(../images/icons/iconmonstr-x-mark-1-16.png) no-repeat;
  background-size: 16px 16px;
}

.header.container nav .state {
  position: absolute;
  left: -10000px;
}

.header.container .navbar-default {
  background-image: none;
}

.header.container nav .tab {
  display: inline-block;
  width: 100%;
  padding: 10px;
  margin: 0px;
  text-align: center;
  cursor: pointer;
}

.header.container nav label {
  display: inline-block;
  border-bottom: 1px solid #3b3738;
  width: 100%;
  padding: 10px;
  margin: 0px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

#gallery-panel label {
  border-bottom: 1px solid #575454;
}

.header.container nav .sideNav {
  overflow-x: hidden;
}

/*.header.container nav .panel {
  position: fixed;
  top: 0px;
  left: 10%;
  width: 20%;
  height: 100%;
  border-radius: 0;
  z-index: 200;
  display: none;
  overflow: hidden;
  background-color: #3b3738;
}*/

#gallery-panel, #aboutme-panel, #contactme-panel {
  position: fixed;
  top: 0px;
  left: 10%;
  width: 0%;
  height: 100%;
  border-radius: 0;
  z-index: 200;
  transition: 0.5s;
  overflow: hidden;
  visibility: hidden;
  background-color: #3b3738;
}

/*.header.container nav .panel.second {
  position: fixed;
  top: 0px;
  left: 30%;
  width: 10%;
  height: 100%;
  border-radius: 0;
  z-index: 200;
  display: none;
  overflow: hidden;
  background-color: #252323;
}*/

#asia-panel, #europe-panel, #northamerica-panel, #southamerica-panel, #africa-panel {
  position: fixed;
  top: 0px;
  left: 30%;
  width: 0%;
  height: 100%;
  border-radius: 0;
  z-index: 200;
  transition: 0.5s;
  overflow: hidden;
  visibility: hidden;
  background-color: #252323;
}

.header.container nav #aboutme-panel, .header.container nav #contactme-panel {
  padding: 20px;
}

.header.container nav #aboutme-panel h1, .header.container nav #contactme-panel h1 {
  font-family: "MicroExtendFLF-Bold";
  font-size: 1.125em;
}

.header.container nav #aboutme-panel p, .header.container nav #contactme-panel p {
  font-family: "Museo300";
  font-size: 0.875em;
}

.header.container nav #home:checked ~ .tab-content.nav.panels #home-panel,
.header.container nav #gallery:checked ~ .tab-content.nav.panels #gallery-panel,
.header.container nav #aboutme:checked ~ .tab-content.nav.panels #aboutme-panel,
.header.container nav #contactme:checked ~ .tab-content.nav.panels #contactme-panel,
.header.container nav #progress:checked ~ .tab-content.nav.panels #progress-panel,
.header.container nav #asia:checked ~ .tab-content.nav.panels #asia-panel,
.header.container nav #europe:checked ~ .tab-content.nav.panels #europe-panel,
.header.container nav #northamerica:checked ~ .tab-content.nav.panels #northamerica-panel,
.header.container nav #southamerica:checked ~ .tab-content.nav.panels #southamerica-panel,
.header.container nav #africa:checked ~ .tab-content.nav.panels #africa-panel {
  display: block;
}

.header.container nav a {
  text-decoration: none;
  color: #fff;
}

.header.container .nav.tabs.Content label:hover {
  background-color: #3b3738;
}

.header.container nav label:hover {
  background-color: #575454;
}

/* End of Nav */

.header.container .container.one {
  position: fixed;
  z-index: 100;
  margin-top: 20px;
}

.header.container .container.one .logo {
  text-indent: -9999px;
  width: 169px;
  height: 40px;
  background: url(../images/thumbnails/logo.png) no-repeat;
}

.header.container .container.one #menu {
 font-size: 1.5em;
 margin-left: 5px;
 color: #fff;
 text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); 
}

.header.container .container.one .icon-menu {
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  background: url(../images/icons/iconmonstr-menu-1-16.png) no-repeat;
  background-size: 16px 16px;
  display: inline-block;
}

/* End of Header */

.header.container .container.two .page-header {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-bottom: none;
}

.header.container .container.two h1, .header.container .container.two h3 {
  -webkit-text-stroke: 1px #000;  
}


.header.container .container.two h3 {
  margin-top: 20%;
  margin-bottom: -15px;
  font-size: 3em;
  color: #fff;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); 
}

.header.container .container.two h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 4.5em;
  color: #fff;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); 
}

.header.container .container.two #btn-checkout {
  position: relative;
  z-index: 1;
  font-family: 'TitilliumWeb-Bold';
  font-size: 1.875em;
  margin-top: 5%;
  margin-bottom: 15%;
  background: inherit;
  border: 4px solid #fff;
  border-radius: 0;
  line-height: 0;
  transition: color 0.25s ease;
  display: inline-block;
  padding: 20px 50px;
  color: #fff;
  text-decoration: none;
}

.header.container .container.two #btn-checkout:hover {
  color: #000;
}


.header.container .container.two #btn-checkout::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: transform 0.25s ease;
  transform: scaleY(0);
  transform-origin: bottom center;
  z-index: -1;
}

.header.container .container.two #btn-checkout:hover::after {
  transform: scaleY(1);
}

.header.container .container.two .icon-left-arrow, .header.container .container.two .icon-right-arrow {
  margin-top: -25%;
}

.header.container .container.two .icon-left-arrow {
  text-indent: -9999px;
  float: left;
  width: 24px;
  height: 24px;
  background: url(../images/misc/left_arrow.png) no-repeat;
  background-size: 24px 24px;
}

.header.container .container.two .icon-right-arrow {
  text-indent: -9999px;
  float: right;
  width: 24px;
  height: 24px;
  background: url(../images/misc/right_arrow.png) no-repeat;
  background-size: 24px 24px;
}

.header.container .container.two .margin.bottom.content {
  margin-bottom: 20%;
}

/* End of Header Container Section */

.Plans {
  background-color: #3b3738;
  color: #fdf3e7;
}

.Plans h2 {
  margin-top: 30px;
  margin-bottom: 0px;
  font-size: 3em;
}

.Plans p {
  margin-bottom: 0px;
}

.Plans .col-lg-3 {
  margin-top: 6%;
}

.Plans .col-lg-12 {
  margin-top: 6%;
}

.Plans .row.text-center:last-child {
  margin-bottom: 30px;
}

.Plans .continent-icon {
  width: 150px;
  height: 150px;
}

.Plans .continent-icon.asia {
  background: url(../images/thumbnails/asia.png) no-repeat;
  background-size: 150px 150px;
  margin: 0 auto;
}

.Plans .continent-icon.europe {
  background: url(../images/thumbnails/europe.png) no-repeat;
  background-size: 150px 150px;
  margin: 0 auto;
}

.Plans .continent-icon.northamer {
  background: url(../images/thumbnails/northamerica.png) no-repeat;
  background-size: 150px 150px;
  margin: 0 auto;
}

.Plans .continent-icon.southamer {
  background: url(../images/thumbnails/southamerica.png) no-repeat;
  background-size: 150px 150px;
  margin: 0 auto;
}

.Plans .continent-icon.africa {
  background: url(../images/thumbnails/africa.png) no-repeat;
  background-size: 150px 150px;
  margin: 0 auto;
}

.Plans p {
  margin-top: 20px;
  font-size: 1.875em;
}

/* End of Header Plans */

.Albums {
  background-color: #3b3738;
  color: #fff;
}

.Albums .container-fluid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 0px;
  padding-right: 0px;
}

.Albums .item {
  width: 25%;
  position: relative;
}

.Albums .item.info {
  position: static;
}

.Albums p.item {
  width: 25%;
}

.Albums img {
  width: 100%;
  height: 100%;
}

.Albums h1, .Albums h3 {
   -webkit-text-stroke: 1px #000;
}

.Albums h1 {
  position: absolute;
  top: 140px;
  width: 100%;
  text-align: center;
}

.Albums h3 {
  position: absolute;
  top: 120px;
  width: 100%;
  text-align: center;
}

.Albums h1 {
  font-size: 1.875em;
}

.Albums h3 {
  font-size: 1.25em;
}

.Albums p {
  width: 100%;
  margin-top: 20%;
  margin-bottom: 20%;
  font-size: 1.5em;
  color: #575454;
}

/* End of Albums */

.Info {
  background-color: #575454;
  color: #fff;
}

.Info .container-fluid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 16% 0px;
}

.Info .item.info h3, .Info .item.info h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-text-stroke: 1px #000; 
}
  
.Info .item {
  width: 33.3%;
}

.Info .item {
  border-right: 1px solid #fff;
  background-color: #575454;
}

.Info .item:last-of-type {
  border: none;
}

.Info .item.info h1 {
  margin-top: 10px;
}
  
/* End of Info */

footer {
  padding: 5% 0;
  background-color: #252323;
}

footer .container .row {
  padding-right: 15px;
  padding-left: 15px;
}

footer .container .row a, footer .container .row p {
  margin: 0;
  color: #fdf3e7;
}

footer .container .row .btn.instagram span {
  margin-right: 10px;
}

footer .container .row p a {
  color: #575454;
}

footer .container .row .btn.instagram {
  background-color: #875c28;
  padding: 13px 10px;
}

footer .container .row .social-sprite.instagram {
  text-indent: -1000px;
  width: 16px;
  height: 16px;
  display: inline-block;
  background: url(../images/icons/iconmonstr-instagram-1-24.png) no-repeat;
  background-size: 16px 16px;
}

footer .container .row p {
  display: inline-block;
  width: 85.8%;
  text-align: center;
}

/* End of Footer */

@media (min-width : 200px) and (max-width : 480px) {
    
.header.container .container.one {
  padding: 0 5px;
}

.header.container .container.one .logo {
  text-indent: -9999px;
  width: 150px;
  height: 30px;
  background: url(../images/thumbnails/logo.png) no-repeat;
  background-size: 150px 30px;
}
    
.header.container .container.two {
  padding: 0px 5px;
}

.header.container .container.two h3 {
  margin-top: 35%;
  margin-bottom: -9px;
  font-size: 2em;
}

.header.container .container.two h1 {
  font-size: 2.5em;
}

.header.container .container.two #btn-checkout {
  font-size: 0.938em;
  padding: 10px 25px;
}

.header.container .container.two .icon-left-arrow, .header.container .container.two .icon-right-arrow {
  margin-top: -25%;
}

.header.container .container.two .icon-left-arrow {
  width: 16px;
  height: 16px;
  background-size: 16px 16px;
}

.header.container .container.two .icon-right-arrow {
  width: 16px;
  height: 16px;
  background-size: 16px 16px;
}

/* End of Header */

.Plans h2 {
  font-size: 2.5em;
}

.Plans .col-lg-3 {
  margin-top: 20%;
}

/* End of Plans */
    
.Albums .item {
  width: 100%;
}

.Albums .item.info {
  border-right: none;
}

.Albums h1 {
  top: 34%;
}

.Albums h3 {
  top: 20%;
}

.Albums h1 {
  font-size: 2em;
}

.Albums h3 {
  font-size: 1.5em;
}
    
.Albums .item.info h1 {
  margin-top: 10px;
  margin-bottom: 13%;
}

.Albums .item.info h3 {
  margin-top: 19%;
}

.Albums p {
  font-size: 1em;
}
    
.Albums {
  background-color: #3b3738;
  color: #fff;
}
    
/* End of Albums */  

.Info .container-fluid {
  padding: 0px;
}
  
.Info .item {
  width: 100%;
}

.Info .item {
  border-bottom: 1px solid #fff;
}

.Info .item.info h1 {
  margin-bottom: 20%;
}
  
.Info .item.info h3 {
  margin-top: 20%;
}
  
/* End of Info */

footer .container .row {
  padding: 0px 5px;
}
    
footer .container .row a {
  text-align: center;
  display: block;
}
    
footer .container .row p a {
  display: inline;
}

footer .container .row .btn.instagram {
  padding: 10px 7px;
}

footer .container .row .social-sprite.instagram {
  width: 16px;
  height: 16px;
  background-size: 16px 16px;
}

footer .container .row p {
  display: inline-block;
  margin-top: 5%;
  width: 100%;
  text-align: center;
}

/* End of Footer */

}

@media (min-width : 480px) and (max-width : 1024px) {
    
.header.container .container.one {
  padding: 0 5px;
}

.header.container .container.one .logo {
  text-indent: -9999px;
  width: 150px;
  height: 30px;
  background: url(../images/thumbnails/logo.png) no-repeat;
  background-size: 150px 30px;
}
    
.header.container .container.two {
  padding: 0px 5px;
}

.header.container .container.two h3 {
  margin-top: 35%;
  font-size: 2.5em;
}

.header.container .container.two h1 {
  font-size: 3.5em;
}

.header.container .container.two #btn-checkout {
  font-size: 1.3em;
  padding: 18.5px 37px;
}

.header.container .container.two .icon-left-arrow, .header.container .container.two .icon-right-arrow {
  margin-top: -20%;
}

.header.container .container.two .icon-left-arrow {
  width: 16px;
  height: 16px;
  background-size: 16px 16px;
}

.header.container .container.two .icon-right-arrow {
  width: 16px;
  height: 16px;
  background-size: 16px 16px;
}

/* End of Header */
    
.Plans h2 {
  font-size: 2.5em;
}

.Plans .col-lg-3 {
  margin-top: 10%;
}

/* End of Plans */
    
.Albums .item {
  width: 100%;
}

.Albums .item.info {
  border-right: none;
}

.Albums h1 {
  top: 45%;
}

.Albums h3 {
  top: 38%;
}

.Albums h1 {
  font-size: 2.3em;
}

.Albums h3 {
  font-size: 1.8em;
}
    
.Albums .item.info h1 {
  margin-top: 10px;
  margin-bottom: 13%;
}

.Albums .item.info h3 {
  margin-top: 19%;
}

.Albums p {
  font-size: 1.3em;
}
    
.Albums {
  background-color: #3b3738;
  color: #fff;
}
    
/* End of Albums */ 
  
.Info .container-fluid {
  padding: 0px;
}
  
.Info .item {
  width: 100%;
}

.Info .item {
  border-bottom: 1px solid #fff;
}

.Info .item.info h1 {
  margin-bottom: 20%;
}
  
.Info .item.info h3 {
  margin-top: 20%;
}
  
/* End of Info */
    
footer .container .row {
  padding: 0px 5px;
}
    
footer .container .row a {
  text-align: center;
  display: block;
}
    
footer .container .row p a {
  display: inline;
}

footer .container .row .btn.instagram {
  padding: 10px 7px;
}

footer .container .row .social-sprite.instagram {
  width: 16px;
  height: 16px;
  background-size: 16px 16px;
}

footer .container .row p {
  display: inline-block;
  margin-top: 1%;
  width: 100%;
  text-align: center;
}

/* End of Footer */
    
}

@media (min-width : 1024px) and (max-width : 1224px) {
    
.header.container .container.two .icon-left-arrow, .header.container .container.two .icon-right-arrow {
  margin-top: -30%;
}
  
.header.container {
  background: url(../images/carousel_background/England_Carousel.jpg) no-repeat fixed;
  
}
  
.header.container.england {
  background: url(../images/carousel_background/England_Carousel.jpg) no-repeat fixed; 
}

.header.container.hongkong {
  background: url(../images/carousel_background/HK_Carousel.jpg) no-repeat fixed; 
}
    
/* End of Header */
    
.Plans h2 {
  font-size: 2.5em;
}

.Plans .col-lg-3 {
  margin-top: 10%;
}
    
/* End of Plans */
    
.Albums .item {
  width: 50%;
}

.Albums .item.info {
  border-right: none;
}

.Albums h1 {
  top: 40%;
}

.Albums h3 {
  top: 32%;
}

.Albums h1 {
  font-size: 2em;
}

.Albums h3 {
  font-size: 1.5em;
}
    
.Albums .item.info h1 {
  margin-top: 10px;
  margin-bottom: 16%;
}

.Albums .item.info h3 {
  margin-top: 16%;
}

.Albums p {
  font-size: 2em;
}
    
/* End of Albums */
    
footer .container .row .btn.instagram {
  padding: 10px 9px;
}
    
footer .container .row p {
  display: inline-block;
  margin-top: 1%;
  width: 79.5%;
  text-align: center;
}
    
/* End of Footer */
    
}

@media (min-width : 1224px) and (max-width : 1824px) {
      
.header.container .container.two .icon-left-arrow, .header.container .container.two .icon-right-arrow {
  margin-top: -30%;
}
  
.header.container {
  background: url(../images/carousel_background/England_Carousel.jpg) no-repeat fixed;
  background-size: 100% 100%;
  background-position: top;
}
  
.header.container.england {
  background: url(../images/carousel_background/England_Carousel.jpg) no-repeat fixed; 
  background-size: 100% 100%;
  background-position: top;
}

.header.container.hongkong {
  background: url(../images/carousel_background/HK_Carousel.jpg) no-repeat fixed; 
  background-size: 100% 100%;
  background-position: top;
}
    
/* End of Header */
    
.Albums .item {
  width: 33.3%;
}

.Albums .item.info {
  border-right: 1px solid #fff;
}

.Albums h1 {
  top: 40%;
}

.Albums h3 {
  top: 32%;
}

.Albums h1 {
  font-size: 2em;
}

.Albums h3 {
  font-size: 1.5em;
}
    
.Albums .item.info h1 {
  margin-top: 10px;
  margin-bottom: 16%;
}

.Albums .item.info h3 {
  margin-top: 16%;
}

.Albums p {
  font-size: 2em;
}
    
/* End of Albums */
    
footer {
  padding: 5% 0;
  background-color: #252323;
}
    
footer .container .row .btn.instagram {
  padding: 10px 9px;
}
    
footer .container .row p {
  display: inline-block;
  margin-top: 1%;
  width: 79.5%;
  text-align: center;
}
    
/* End of Footer */
    
    
}

@media (min-width : 1225px) and (max-width : 2560px) {
    
.header.container {
  background: url(../images/carousel_background/England_Carousel.jpg) no-repeat fixed;
  background-size: 100% 100%;
  background-position: top;
}
    
.header.container.england {
  background: url(../images/carousel_background/England_Carousel.jpg) no-repeat fixed; 
  background-size: 100% 100%;
  background-position: top;
}

.header.container.hongkong {
  background: url(../images/carousel_background/HK_Carousel.jpg) no-repeat fixed; 
  background-size: 100% 100%;
  background-position: top;
}
    
}






